.nav {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.nav-on-desktop {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
  justify-content: center;
}

.nav-on-desktop-list {
  display: flex;
  gap: 30px;
  padding: 0;
  justify-content: center;
  list-style-type: none;
}

.nav-on-desktop-list > li {
  display: inline;
}

.nav-on-desktop-list > li > a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
}

/* Subhead */
.Subhead {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

/* design-nav */
.design-nav {
  display: flex;
  align-items: center;
}

/* union-nav */
.union-nav {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 18px;
  height: 12px;
}

/* vector-nav */
.vector-nav {
  font-family: "Inter", sans-serif;
  border: 2px solid #28352f;
}
