body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.on-desktop-display {
  display: none;
}

.on-mobile-display {
  display: unset;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

section {
  width: 100%;
  margin: auto;
}
