@media (min-width: 800px) {
  section {
    width: 85%;
    margin: auto;
  }

  .main-bg-headline {
    background-image: url("../img/desktop/main-bg-headline.png");
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .Head-Line {
    height: 1000px;
  }

  .main-subtext-headlin-width {
    width: 920px;
  }

  .h1-work {
    width: 100%;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .on-mobile-display {
    display: none;
  }

  .on-desktop-display {
    display: unset;
    padding-bottom: 250px;
  }
}
